*{
  margin: 0;
  padding: 0;
}
.background-2{
  display: none;
}
.background{
  width: 100%;
  position: fixed;
  z-index: -100;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100vh;
}
.background-3{
  display: none;
}
.nav-align{
  display: flex;
  justify-content: center;
}

.navbar-main{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 60px;
  align-items: center;
  border-radius: 40px;
  background: linear-gradient( 160deg,black, rgb(36, 36, 36));
}

.Otolo-web{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: red;
  font-size: 2em;
  transition: 0.2s ease-in-out;
}

.Otolo-web:hover{
color: white;
letter-spacing: 6px;
}


.nav-li{
  display: flex;
}

.main-link, .fyp-link, .bal-link, .spons-link{
  margin-left: 100px;
  color: white;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1.5em;
}

.main-link:hover, .fyp-link:hover, .bal-link:hover, .spons-link:hover{
  color: red;
  letter-spacing: 6px;
}


.div-box-all{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 500px;
}

.div-box-1, .div-box-3{
  border:  solid 3px;
  height: 500px;
  width: 600px;
  position: relative;
  top: 300px;
  border-radius: 10%;
  background-color: rgb(5, 5, 5);
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border: solid red 3px;
}

.div-cicle-2{
  border: black solid 3px;
  height: 400px;
  width: 400px;
  position: relative;
  top: 300px;
  border-radius: 50%;
  border: none;
}

.div-box-1{
  margin-left: 10px;
}

.div-box-3{
margin-right: 10px;
}


.title-browser, .title-vpn{
  margin-top: 20px;
  text-transform: uppercase;
  color: red;
}

.text-browser, .text-vpn{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}

.otolo-icon, .otolo-vpn-icon{
  width: 500px;
  margin: 0px;
  margin-top: 25px;
  border-radius: 100px;
  
  box-shadow: 10px 10px 45px rgb(99, 0, 30);
}
.otolo-vpn-icon{
  margin-top: 15px;
}

.button-64 {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
  margin-top:30px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.otolo-round{
  width: 450px;
  cursor: pointer;
}

.div-cicle-2{
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media only screen and (max-width: 1006px){
  .background{
    display: none;
  }
  .background-2{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: -100;
    top: 0px;
    left: 0px;
    object-fit: cover;
    height: 150vh;
  }
}

@media only screen and (max-width: 567px){
  .background-3{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: -100;
    top: 0px;
    left: 0px;
    object-fit: cover;
    height: 240vh;
  }
  .background-2{
    display: none;
  }
}

@media only screen and (max-width: 1637px){
  .div-box-1, .div-box-3{
    width: 550px;
  }

  .div-cicle-2{
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1551px){
  .div-box-1, .div-box-3{
    width: 450px;
  }
  .otolo-round{
    width: 300px;
  }
  .div-cicle-2{
    height: 300px;
  width: 300px;
  }
  .otolo-icon, .otolo-vpn-icon{
    width: 300px;
  }

}
@media only screen and (max-width: 1251px){
  .otolo-round{
    width: 270px;
  }
  .div-cicle-2{
    height: 270px;
  width: 270px;
  }
  .div-box-1, .div-box-3{
    width: 400px;
    height: 400px;
  }
  .title-vpn, .title-browser{
    font-size: 1.5em;
  }
  .text-vpn, .text-browser{
    font-size: 1em;
  }
  .otolo-icon, .otolo-vpn-icon{
    width: 240px;
  }
  .button-64{
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1143px){
  .Otolo-web{
    font-size: 1.7em;
  }
  .main-link, .fyp-link, .bal-link, .spons-link{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1121px){

  .div-box-1, .div-box-3{
    width: 350px;
    height: 400px;
  }

  .div-cicle-2{
    height: 200px;
  width: 200px;
  }

  .button-64 span{
    padding: 10px 18px;

  }
  .button-64{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1044px){
  .navbar-main{
    padding: 50px;
  }
  .main-link, .fyp-link, .bal-link, .spons-link{
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1044px){
  .div-box-all{
    display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 500px;
  }
  .div-box-1{
    margin-top: 00px;
  }
  .div-cicle-2{
    margin-top: 00px;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media only screen and (max-width: 939px){
  .div-box-all{
    display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5000px;
  align-items: center;
  }
  .div-box-1, .div-box-3{
    width: 300px;
    height: 400px;
  }
  .button-64 span{
    padding: 7px 10px;

  }
  .otolo-icon, .otolo-vpn-icon{
    height: 80px;
    width: auto;
  }
  .title-browser, .title-vpn{
    font-size: 1.3em;
  }
  .text-browser, .text-vpn{
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 839px){
  .otolo-icon, .otolo-vpn-icon{
    height: 60px;
    width: auto;
    margin-top: 2px;
  }
  .div-box-1, .div-box-3{
    width: 270px;
    height: 320px;
  }
  .title-browser, .title-vpn{
    font-size: 1.1em;
  }
  .text-browser, .text-vpn{
    font-size: 0.8em;
  }
  .button-64 span{
    padding: 7px 0px;
    
  }
  .button-64{
    margin-top: 5px;
  }
}

@media only screen and (max-width: 804px){
  .navbar-main{
    padding: 40px 20px;
  }
  .main-link, .fyp-link, .bal-link, .spons-link{
    margin-left: 30px;
  }
}
@media only screen and (max-width: 779px){
  .div-box-all{
  display: flex;
  justify-content: center;
  flex-direction:column;
  flex-wrap: wrap;
  margin-bottom: 400px;
  align-items: center;
  }
  .div-box-1{
margin-top: -100px;
width: 300px;
margin-left: 0px;
  }
  .div-box-3{
    width: 300px; 
    margin-left: 0px;
  }
   .div-box-3, .div-cicle-2{
    margin-top: 50px;
  }
  .div-cicle-2{
    margin-left:0px ;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 703px){
  .navbar-main{
    padding: 30px 20px;
  }
  .main-link, .fyp-link, .bal-link, .spons-link{
    margin-left: 20px;
  }
  .main-link, .fyp-link, .bal-link, .spons-link{
    font-size: 1em;
  }
  .Otolo-web{
    font-size: 1.4em;
  }
  
}

@media only screen and (max-width: 589px){
  .navbar-main{
    padding: 30px 20px;
  }
  .main-link, .fyp-link, .bal-link{
    margin-left: 20px;
  }
  .spons-link{
    display: none;
  }
  .div-cicle-2{
    margin: 0px;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 466px){
  .main-link, .fyp-link, .bal-link{
    display: none;
  }
  .navbar-main{
    padding: 30px 80px;
  }

  .Otolo-web{
    font-size: 2em;
  }
}
@media only screen and (max-width: 355px){
  .navbar-main{
    padding: 30px 50px;
  }
}